/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}
#students_result {
    width: 100%;
}

.listitem {
    background: #fefefe;
    padding: 12px;
    width: 928px;
    overflow: hidden;
}

.listitem:after {
    clear: both;
}

    .listitem:nth-child(2n) {
        background: #FCE7E2;
    }

    .listitem:hover {
        background: #FFDEBF;
    }
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar {
    background-color: #aeaeae;
    width: 193px;
}

.col6, .col6last, .col6first {
    text-align:center;
    float: left;
    width: 127px;
    margin-right: 27px;
}


.listview {
    margin-left: 116px;
}
.main_container {
    
}
header h1 {
    text-align: center;
    background-color: #CAD2C5;
    margin: 0;
    padding: 14px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
    margin-top: 18px;
}

.page_flex {
    display:flex;
}

footer {
    background-color: #CAD2C5;
    text-align:center;
}

.icons {

    height: 13px;
    margin-top: 3px;
}

.image_home {
    height: 440px;
    width: 856px;
    margin-left: 117px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
}
.home_image{
    height: 440px;
    width: 856px;
    margin-left: 117px;
    margin-top: 30px;
    margin-bottom: 30px;
    position:relative;
    display:inline-block;
}
.design_text{
position: absolute;
z-index: 999;
top: 232px;
left: 555px;
font-size: -webkit-xxx-large;
}

.search_bar {
    position: absolute;
    z-index: 1003;
    font-size: x-large;
    top: 404px;
    left: 558px;
}

.cancel_button {
    padding: 3px;
    border: 0.1px solid black;
    background-color: #f2f2f2;
    text-decoration: none;
    color: black;
    padding-top:0.5px;
    padding-bottom:3px;
}

.update_tagline {
    margin-left:50px;
}

.update_title {
    margin-left:68px;
}

.update_subtitle {
    margin-left:47px;
}

.update_description {
    margin-left:22px;
}

.show_titles {
font-weight:200;
}

.show_edit {
    text-decoration: none;
    padding: 2px;
    background-color: #f1f1f1;
    border: 0.5px solid black;
    padding-top: 0.1px;
    padding-bottom: 3px;
    color: black;
}

.back {
    margin-right: 925px;
}

.new_businessname {
    margin-left:38px;
}

.new_tagline {
    margin-left:83px;
}

.new_title {
    margin-left:104px;
}
.new_subtitle {
    margin-left:106px
}

.new_subtitle {
    margin-left:85px;
}


.new_description {
    margin-left:61px;
}

a {
    text-decoration:none;
}
/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}*/
